
<div class='app'>

  <div class='app-top'>
    <button (click)='toggleVisible()'>toggle visible</button>
    <button (click)='toggleWeekends()'>toggle weekends</button>
    <button (click)='gotoPast()'>go to a date in the past</button>
    (also, click a date/time to add an event)
  </div>

  <div class='app-calendar' *ngIf="calendarVisible">
    <full-calendar
      #calendar
      defaultView="dayGridMonth"
      [header]="{
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      }"
      [plugins]="calendarPlugins"
      [weekends]="calendarWeekends"
      [events]="calendarEvents"
      (eventClick)="handleDateClick($event)"
    ></full-calendar>
  </div>

  <div id="test">
    <p>{{selectEvent?.start | date}}</p>
    <br>
    <p>{{selectEvent?.title}}</p>
  </div>
  
  <button nbButton nbPopoverPlacement="top" nbPopover="hey">click here!</button>
  
</div>
