
.app-top {
  margin: 0 0 3em;
}

.app-calendar {
  margin: 0 auto;
  max-width: 900px;
}

// NOTE: the fullcalendar stylesheets are included in the app's global styles.scss

.test {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: white;
  padding: 7px;
}
